.services {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(76, 0, 19, 1) 35%,
    rgba(76, 0, 19, 1) 100%
  );
}

.services__data {
  padding: 2rem 1rem;
  margin: 0.5rem 0;
  background-color: var(--primer-color);
  border-radius: 0.5rem;
  transition: 0.4s;
  text-align: center;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
align-items:center;
}

.services__icon,
.services__title {
  margin-bottom: 1rem;
  color: var(--second-color);
}
.services__icon {
  font-size: 3rem;
}
.services__title {
  font-size: 2rem;
}

.services__description {
  margin-bottom: 2rem;
}

.services__data:hover {
  transform: translateY(-0.5rem);
}
@media screen and (min-width: 576px) {
  .services__container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 768px) {
  .services__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
